body {
  background-color: lightblue;
}

div {
  background-color: white;
  padding:20px;
}

footer {
  background-color: white;
}

table, th, td {
  border:3px solid black;
}

h1 {
  color: white;
  text-align: center;
  font-family: bahnschrift;
  font-size: 75px;
  text-decoration: underline;
}
      
h2 {
  text-decoration: underline;
  font-family: arial;
}


ol {
  font-family: courier new;
  font-size: 23px;
}

ul {
  font-family: courier new;
  font-size: 23px;
}

p {
  font-family: courier new;
  font-size: 23px;
}
